body{
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

#logo{
    background: #235E3D;
    
}

#menu ul li:hover{
    background: #235E3D;
}

.button-more{
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    background: #235E3D;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}